<b>Artist Name:</b>
<p><%= @artist.name()  %></p>

<b>Artist ID:</b>
<p><%= @artist.id()  %></p>



<!-- <a href="/pizzas/<%= @pizza.id %>/edit">Edit</a>

<form action="/pizzas/<%= @pizza.id  %>/delete" method="post"><input type="submit" value="Delete"></form> -->